/* Add or modify styles as needed */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.teal-section {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.teal-section .heading {
    font-family: 'Copperplate', sans-serif;
    font-size: 4em; /* Increase the size of heading by 4x */
    margin-bottom: 10px; /* Add some spacing between heading and subheading */
}

.teal-section .subheading {
    font-size: 1.5em; /* Set the size of subheading */
}

.teal-section .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.teal-section .navbar .nav-list {
    list-style: none;
    display: flex;
	width: 100%;
	justify-content: space-evenly;
}

.teal-section .navbar .nav-list li {
    margin-right: 20px;
}

.teal-section .navbar .nav-list li:last-child {
    margin-right: 0;
}

.teal-section .navbar .nav-list li a {
    text-decoration: none;
    color: white; /* Change the font color to white */
    font-size: 18px;
    transition: color 0.3s ease-in-out;
}

.teal-section .navbar .nav-list li a:hover {
    color: #ffd700;
}

.teal-section .rightNav input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 2px solid #fff;
    border-radius: 5px;
}

.teal-section .btn {
    background-color: #ffd700;
    color: #000;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.teal-section .btn:hover {
    background-color: #000;
    color: #ffd700;
}

.white-section {
    background-color: white;
    padding: 50px 0;
}

.options-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option-box {
    width: 300px;
    height: 100px;
    background-color: teal;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.option-box a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.navbar{
	width: 100%;
}
.nav-list{
	width: 100%;
}
.rightNav{
	display: flex;
}
